.image-editer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  .rotate-icon{
    margin-right: 8px;
    margin-left: 4px;
  }
  .zoom-in-icon{
    margin-right: 8px;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  }
  .canvas-image-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  #image-canvas{
    flex: 5;
  }
  #image-dropdown-container{
    flex: 1;
    margin-right: 20px;
  }
  #image-dropdown-container{
    font-size: 1.2rem;
  }
  .image-dropdown-container1{
    margin-top: 10px;
    background-color: rgb(67, 180, 67);
    border-radius: 5px;
    height: 50px;
    font-size: 1.2rem;
  }